<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.androidalliance.edgeeffectoverride.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name=".ExpandableListViewActivity"
            android:label="@string/title_activity_expandable_list_view" >
        </activity>
        <activity
            android:name=".ScrollViewActivity"
            android:label="@string/title_activity_scroll_view" >
        </activity>
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
    </application>

</manifest>
